.index{
    background-image: url("../img/index_bg.jpg");
    background-size: cover;
}

.services{
    background-image: url("../img/services/service_bg.jpg");
    background-size: cover;
}

.opaque{
    background-color: #343434;
}

.black{
    background-color:rgba(0,0,0,0.6);
}

.nav-black{
    background-color:rgba(0,0,0,0.9);
}

.white{
    background-color: rgba(242, 242, 242, 0.6);
}

.card-img{
    width: 100%;
    height: 9vw;
    object-fit:cover;
}

.card-img-top{
    width: 100%;
    height: 6vw;
    object-fit:scale-down;
}

.btn-bg{
    background-color: rgba(62, 180, 137,1);
    border-width: 0.1rem;
}

h5{
    text-align: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.link a{
    color: white;
}

.link .active{
    color:rgba(62, 180, 137,0.6);
}

.opaque .btn{
    margin-left: 1px solid rgba(62, 180, 137,1);
}

.border-rounded{
    border-radius: 2rem;
}

.canvas{
    background: rgba(0,0,0,0.6);
    color: rgba(242, 242, 242, 0.8);
}

.modal-bg{
    background:#36454f;
    color:rgba(242, 242, 242,0.8)
}

.standout{
    color: rgba(62, 180, 137,1);
}

.book-button{
    background-color: rgba(62, 180, 137,1);
}

.copyright{
    background-color: rgba(62, 180, 137,0.7);
}

.decrease{
    font-size: 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
}

.margin_0{
    margin-left: 0;
    margin-right: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
.uneditable-input:focus {   
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
  }