<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Alpha Male Grooming</title>
</head>

<body class="index">
    <nav class="nav-black sticky-top">
        <div class="navbar navbar-dark navbar-expand-md justify-content-between">
            <img src="img/logo_cream.png" alt="logo" class="nav-item navbar-brand" height="100">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="navbar-collapse justify-content-between collapse btn-group link">
                <a class="nav-item nav-link btn border-righ shadow-none" href="/">HOME</a>
                <a class="nav-item nav-link btn border-left shadow-none" href="/services">SERVICES</a>
                <a class="nav-item nav-link btn border-left shadow-none active" href="#">GALLERY</a>
                <a class="nav-item nav-link btn border-left shadow-none" href="/message">MESSAGE</a>
            </div>
        </div>
        <div class="navbar-collapse justify-content-between collapse link" id="navbarCollapse">
            <a class="nav-item nav-link" href="/">HOME</a>
            <a class="nav-item nav-link" href="/services">SERVICES</a>
            <a class="nav-item nav-link active" href="#">GALLERY</a>
            <a class="nav-item nav-link" href="/message">MESSAGE</a>
        </div>
    </nav>

    <!--breadcrubs-->
    <ol class="col-12 breadcrumb bg-transparent link">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Gallery</li>
    </ol>


    <div class="row justify-content-center">
        <div id="alphaCarousel" class="carousel slide col-6" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#alphaCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#alphaCarousel" data-slide-to="1"></li>
                <li data-target="#alphaCarousel" data-slide-to="2"></li>
                <li data-target="#alphaCarousel" data-slide-to="3"></li>
                <li data-target="#alphaCarousel" data-slide-to="4"></li>
                <li data-target="#alphaCarousel" data-slide-to="5"></li>
                <li data-target="#alphaCarousel" data-slide-to="6"></li>
                <li data-target="#alphaCarousel" data-slide-to="7"></li>
                <li data-target="#alphaCarousel" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" id="carItem1">
                    <img class="d-block carousel-img" src="img/services/massage.jpg" alt="full body massage">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Calming full body massage
                        </h6>
                    </div>
                </div>
                <div class="carousel-item" id="carItem2">
                    <img class="d-block carousel-img" src="img/services/hair_coloring.jpg" alt="hair coloring">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Brightly colored hair
                        </h6>
                    </div>
                </div>
                <div class="carousel-item" id="carItem3">
                    <img class="d-block carousel-img" src="img/services/facial_treatment.jpg" alt="facial treatment">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Deep cleansing facial treatment
                        </h6>
                    </div>
                </div>
                <div class="carousel-item" id="carItem4">
                    <img class="d-block carousel-img" src="img/services/dreadlockjpg.jpg" alt="locks">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Retightened and neatly styled locks
                        </h6>
                    </div>
                </div>
                <div class="carousel-item" id="carItem5">
                    <img class="d-block carousel-img" src="img/services/nail_treatment.png" alt="pedicure">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Careful pedicure procdure
                        </h6>
                    </div>
                </div>
                <div class="carousel-item" id="carItem6">
                    <img class="d-block carousel-img" src="img/services/nail_treatment_2.jpg" alt="foot wash">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Soothing foot wash
                        </h6>
                    </div>
                </div>
                <div class="carousel-item" id="carItem7">
                    <img class="d-block carousel-img" src="img/services/hair_coloring_2.jpg" alt="hair coloring">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Vibrant colored hair
                        </h6>
                    </div>
                </div>
                <div class="carousel-item" id="carItem8">
                    <img class="d-block carousel-img" src="img/services/shampooing.jpg" alt="shampooing">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Deep and cleansing hair shampooing
                        </h6>
                    </div>
                </div>
                <div class="carousel-item" id="carItem9">
                    <img class="d-block carousel-img" src="img/services/waxing.jpg" alt="waxing">
                    <div class="carousel-caption">
                        <h6 class="canvas p-3">
                            Painless and medically approved waxing
                        </h6>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#alphaCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#alphaCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row m-3">
        <div class="row justify-content-center">
            <img src="img/services/massage.jpg" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view1" id="view1">
            <img src="img/services/hair_coloring_2.jpg" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view2" id="view2">
            <img src="img/services/facial_treatment.jpg" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view3" id="view3">
            <img src="img/services/dreadlockjpg.jpg" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view4" id="view4">
            <img src="img/services/nail_treatment.png" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view5" id="view5">
            <img src="img/services/nail_treatment_2.jpg" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view6" id="view6">
            <img src="img/services/hair_coloring.jpg" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view7" id="view7">
            <img src="img/services/shampooing.jpg" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view8" id="view8">
            <img src="img/services/waxing.jpg" class=" col-1 slide-img img-thumbnail rounded img-fluid m-1 p-1" alt="view9" id="view9">

        </div>
    </div>


    <footer>
        <div class="row text-white justify-content-center decrease mt-5">
            <p class="my-auto">

                132, My Street, Bigtown BG23 4YZ, England &nbsp;
                <span class="fa fa-circle"></span> &nbsp; 001-541-754-3010 &nbsp;
                <span class="fa fa-circle"></span> &nbsp; info@alphamale.com
            </p>
        </div>

        <div class="row text-white justify-content-center decrease my-auto">
            <p class="my-auto">
                <span class="fa fa-copyright"></span> &nbsp; 2021 All RIights Reserved Alpha Male Grooming
            </p>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>