<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Master View</title>
</head>

<body>
    <h3 class="bg-success text-center pb-2"> Transacton Management System </h3>
    <div class="row table-responsive mt-5">
        <div class="container col-10">
            <a href="/add_transaction"><i class="fa fa-plus-square"></i>add transaction</a>
            <table class="table table-striped table-hover table-sm text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tel</th>
                        <th scope="col">H_C</th>
                        <th scope="col">H_S</th>
                        <th scope="col">H_Col</th>
                        <th scope="col">H_L</th>
                        <th scope="col">F_C</th>
                        <th scope="col">F_M</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <script>
        class EasyHTTP {
            // make a delete request
            async delete(url) {

                // Awaiting fetch which contains method,
                // headers and content-type and body
                const response = await fetch(url, {
                    method: 'DELETE',
                    headers: {
                        'Content-type': 'application/json'
                    }
                });

                // Awaiting response.json()
                const resData = await response.json();

                // Return response data 
                return resData;
            }
        }
        // Instantiating new EasyHTTP class



        fetch("/api/users")
            .then(resp => resp.json())
            .then(data => {
                transactions = data
            });


        setTimeout(createTabel, 3000);


        function createTabel() {
            if (transactions.length === 0) {
                document.write("There are no transactions");
            } else {
                var tableBody = document.getElementById("tableBody");

                for (var i = 0; i < transactions.length; i++) {
                    var row =
                        `<tr class="sticky-top">
                            <td>${i+1}</td>
                            <td>${(transactions[i].name === undefined)?"":transactions[i].name}</td>
                            <td>${(transactions[i].email === undefined)?"":transactions[i].email}</td>
                            <td>${(transactions[i].tel === undefined)?"":transactions[i].tel}</td>
                            <td>${(transactions[i].hair_cut === undefined)?"":transactions[i].hair_cut}</td>
                            <td>${(transactions[i].hair_styling === undefined)?"":transactions[i].hair_styling}</td>
                            <td>${(transactions[i].hair_coloring === undefined)?"":transactions[i].hair_coloring}</td>
                            <td>${(transactions[i].hair_locking === undefined)?"":transactions[i].hair_locking}</td>
                            <td>${(transactions[i].facial_care === undefined)?"":transactions[i].facial_care}</td>
                            <td>${(transactions[i].full_massage === undefined)?"":transactions[i].full_massage}</td>
                            <td>${(transactions[i].date === undefined)?"":transactions[i].date}</td>
                            <td>${(transactions[i].time === undefined)?"":transactions[i].time}</td>
                            <td>${(transactions[i].status === undefined)?"":transactions[i].status}</td>
                            <td>${(transactions[i].comment === undefined)?"":transactions[i].comment}</td>
                            <td>
                                <button>
                                    <a href='/add_transaction?id=${transactions[i]._id}' data-toggle="tooltip" data-placement="bottom" title="edit"><i class="fa fa-pencil-square-o"></i></a>
                                </button>
                                <button>
                                    <a data-toggle="tooltip" href="#" data-placement="bottom" title="delete"><i class="fa fa-trash-o delete" name="${transactions[i].name}" transaction_id='${transactions[i]._id}'></i></a>   
                                </button>
                            </td>
                        </tr>`;
                    tableBody.innerHTML += row;

                }
            };
            const deleteBtns = document.getElementsByClassName('delete');
            for (var i = 0; i < deleteBtns.length; i++) {

                deleteBtns[i].addEventListener('click', function() {
                    console.log(this.getAttribute("transaction_id"));
                    var id = this.getAttribute("transaction_id");
                    var url = `http://localhost:3000/api/users/${id}`;
                    var transactionName = this.getAttribute("name");
                    console.log(transactionName);
                    if (confirm(`Do you want to delete transcation with name ${transactionName}`)) {
                        const http = new EasyHTTP;

                        // Update Post
                        http.delete(url)

                        // Resolving promise for response data
                        .then(data => {
                            alert(data.message);
                            window.location.reload();

                        })
                    }

                })
            }

        }




        /* if (transactions === 0) {
            document.write("There are no transactions")
        } */

        /* var triger = document.getElementsByClassName("triger");
        const trig_array = [...triger];
        [...triger].forEach(function(el) {
            el.addEventListener('click', (e) => {
                console.log(e.target.getAttribute("ID"))
                console.log(window.location.href);
            })
        }) */
    </script>
</body>

</html>