<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Master View</title>
</head>

<body>
    <h3 class="bg-success text-center pb-2"> Transacton Management System</h3>
    <div class="row table-responsive mt-5">
        <div class="container col-10">
            <table class="table table-stripped table-hover table-sm text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tel</th>
                        <th scope="col">H_C</th>
                        <th scope="col">H_S</th>
                        <th scope="col">H_Col</th>
                        <th scope="col">H_L</th>
                        <th scope="col">F_C</th>
                        <th scope="col">F_M</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nyarko Obuobi</td>
                        <td>nbuob@gmail.com</td>
                        <td>0240714589</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>No</td>
                        <td>No</td>
                        <td>Yes</td>
                        <td>No</td>
                        <td>27/05/2021</td>
                        <td>15:00</td>
                        <td>Pending</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>